/* Write your CSS here */

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1e293b;
}

.heading {
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 60px;
  color: #f0bb03;
}

.para-text {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
}

.button {
  font-family: 'Bree Serif';
  background-color: #ffffff;
  border-radius: 8px;
  border-width: 0px;
  color: #1e293b;
  font-size: 18px;
  padding: 10px;
}

.button-container {
  align-items: center;
}
